/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@import url(http://fonts.googleapis.com/css?family=Quattrocento);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body, ul {
  margin:0;
}

h1, h2 {
    margin: 0;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

* {
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main-menu {
    width: 100%;
    height: 60px;
    background-color: rgb(234, 235, 232);
    padding-left: 200px;
}

.left-menu-items {
    float: left;
}

.menu-item-containers {
    float: left;
    display: inline;
    padding-left: 30px;
}

.menu-item-text-attrs {
    font-size: 12px;
    display: inline-block;
    padding-top: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.left-menu-items > a {
    text-decoration: none;
    color: rgb(109, 100, 94);
}

#left-menu-item-divider {
    font-size: 12px;
    padding: 0px 10px;
    color: rgb(109, 100, 94);
    padding-top: 10px;

}

.right-menu-items {
    float: right;
    margin-right: 10px;
}


.right-menu-items > a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(109, 100, 94);
   
}


#right-menu-item-divider{
    padding-top: 10px;
    font-size: 12px;
    display: inline-block;
    color: rgb(109, 100, 94);
}

#menu-search-input {
    height: 30px;
    width: 130px;
    margin-left: 5px;
}

.search-input {
    padding-left: 10px;
    margin-top: 5px;
    font-style: italic;
    font-size: 14px;
    background-image: url('../img/search-icon.png');
    background-size: 15px;
    background-position: right;
    background-repeat:no-repeat;
    border: none;
    color: rgb(121, 113, 105);
    vertical-align: middle;
}



.menu-item-text-attrs > .right-menu-image-link {
    width: 40px;
    margin-left: 10px;
}


/*============ About content area ================*/

#display-content-container {
    width: 100%;
    height: 350px;
    background-image: url('../img/about-background-1.jpg');
}

#display-content-container {
    padding-top: 60px;
    padding-left: 30%;
}

#display-content-container > h1{
    font-style: bold;
    text-transform: uppercase;
    color: white;
}

#display-content-container > h1 {
    font-size: 6em;
}

#display-content-container > p {
    width: 600px;
    font-size: 1.5em;
    margin: 0;
    font-family: 'Quattrocento', serif;
    font-style: italic;
    color: white;
}

/*============ Side Menu ===========================*/

.side-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 200px;
    padding-top: 0px;
}

.side-menu > .menu-logo {
    width: 100%;
    height: 163px;
    display: block;
}

.side-menu > .menu-items {
    background-image: url('../img/side-menu-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0px;
}

.menu-items > li {
    border-bottom: 1px solid rgb(234, 235, 232);
    padding-left: 0px;
    color: white;
    height: 30px;
    list-style: none;
}

.menu-items > li > p {
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(210, 208, 206);
}

.side-menu-arrow {
    height: 30px;
    width: 10%;
    float: right;
}

.side-menu > #subscribe {
    padding-top: 20px;
}

.side-menu > #subscribe > img {
    height: 70px;
}

.side-menu > #subscribe > p {
    float: right;
    width: 120px;
    padding-top: 8px;
    font-size: 12px;
    margin-left: 10px;
    color: rgb(110, 100, 93);
}

#scroll-serach-input{
    height: 30px;
    width: 190px; 
}

#scroll-search > div {
    text-align: center;
}

/*=================FEATURED COPY =================== */

.featured-copy-container{
    height: 400px;
    margin-top: 40px;
    margin-left: 20%;
}

.featured-copy-container > h2 {
    margin-bottom: 20px;
    color: rgb(72, 66, 60);
}

.featured-copy-container > #featured-copy-text > p{
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Quattrocento', serif;
    width: 60%;
    color: rgb(72, 66, 60);
    float: left;
}

.featured-copy-container > #featured-copy-image {
    width: 30%;
    float: right;
    margin-right: 40px;
}


.featured-copy-container > #featured-copy-image > img{
    width: 100%;
}

.featured-copy-container > #featured-copy-image > p{
    text-align: center;
    width: 100%;
    color: rgb(72, 66, 60);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Quattrocento', serif;
    font-style: italic;
}


/*================= MEMBERS =================== */


.members-container {
    height: auto;
    width: 100%;
    padding-top: 40px;
    background-color: rgb(234, 235, 232);
    display: inline-block;
}

#members-header {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    border-bottom: 1px solid rgb(110, 100, 93);
}

#members-header > h3 {
    color: rgb(110, 100, 93);
   margin-bottom: 2px;
}

.members-all {
    margin-left: 250px;
    margin-top: 30px;
    width: 80%;
}

.member {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
}

.member > h4 {
    margin-bottom: 2px;
    color: rgb(90, 188, 87);
    font-style: bold;
    text-transform: uppercase;
}

.member > p {
    margin: 0px;
    color: rgb(134, 145, 119);
    font-family: 'Quattrocento', serif;
}

.member > img{
    width: 180px;
    display: block;
    margin: 0 auto;
 }


.member:hover .overlay{
    opacity:0.7;
}

.overlay {
    position: absolute;
    left: 0; 
    top: 0; 
    right: 0;
    height: 180px;
    width: 180px;
    margin: auto;
    background-color:#3f3f3f;
    border-radius: 50%;
    opacity:0;
}

.image-overlay-icon {
    width: 50px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/*=================== FOOTER =============================*/

.footer {
    height: 300px;
    background-image: url('../img/footer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-contact-container {
    height: 300px;
    width: 40%;
    margin: 0 auto;
    padding-top: 40px;
}

.logo-contact-container > img {
    float: left;
}

.logo-contact-container > ul {
    padding-top: 30px;
    padding-right: 30px;
    float: right;
}

.logo-contact-container > ul > li{
    display: inline-block;
}
.logo-contact-container > ul > li:nth-child(-n+3){
    border-right: 2px solid rgb(210, 208, 206);
}

.logo-contact-container > ul > li > a{
    color: color: rgb(210, 208, 206);;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    color: rgb(210, 208, 206);
}

.logo-contact-container > #footer-social{
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-contact-container > #copyright-poweredby {
    text-align: center;
    clear: both;
}

.logo-contact-container > #copyright-poweredby > p {
    font-size: 12px;
    color: rgb(135, 134, 128);
    display: inline;
    font-style: italic;
}

#caddis-logo {
    padding-left: 20px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
