* {
  box-sizing: border-box;
}

html {
  max-width: 1500px;
}

body{
    margin: 0;
}

.featured-content__about-us-header {
    font-style: 'ProximaNovaCond Black';
    text-transform: uppercase;
    color: white;
    font-size: 6em;
    margin-bottom: 0;
}

.featured-content__about-us-copy {
    width: 500px;
    font-size: 1.5em;
    margin: 0;
    font-family: 'Quattrocento', serif;
    font-style: italic;
    color: white;
}

.featured-content__copy {
    margin-top: 0;
    font-family: 'Quattrocento', serif;
    width: 70%;
    color: #483c42;
    line-height: 25px;
}

.featured-content__content-container {
    width: 100%;
    height: 350px;
    background-image: url('../img/about-background-1.jpg');
    padding-top: 60px;
    padding-left: 30%;
}

.featured-content__copy-container {
    height: 400px;
    margin: 40px 0 0 250px;
}

.featured-content__copy-header {
    margin-bottom: 20px;
    color: #483c42;
    font-style: 'Adelle Regular';
}

.featured-content__image {
    height: 200px;
    width: 300px;
}

.featured-content__image-caption {
    text-align: center;
    width: 100%;
    color: #483c42;
    padding-left: 0 10px;
    font: italic 'Quattrocento', serif;
}

.featured-content__image-figure {
    height: 200px;
    width: 300px;
    float: right;
    margin-right: 40px;
}


.footer {
    height: 300px;
    background-image: url('../img/footer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__caddis-logo {
    vertical-align: middle;
}

.footer__contact-container {
    height: 300px;
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 100px;
}


.footer__contact-info {
    float: right;
    width: 400px;
    margin: 0;
    padding: 30px 0 0 20px;
}

.footer__contact-info-li {
    display: inline-block;
}

.footer__contact-info li:nth-child(-n+3){
    border-right: 2px solid #ced0d2;
}

.footer__contact-link {
    color: #E8EAEB;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    color: #ced0d2;
}

.footer__copyright-poweredby {
    text-align: center;
    margin: 10px auto;
    padding: 0;
    width: 500px;
    height: 40px;
}

.footer__copyright-text {
    color: #878680;
    font-style: italic;
    display:inline-block; 
    vertical-align: middle;
    line-height: 40px;
}

.footer__logo {
    padding-left: 30px;
}

.footer__powered-by-text{
    color: white;
    padding: 0 10px 0 20px;
}

.footer__social-div {
    text-align: center;
}


.header-menu {
    width: 100%;
    height: 60px;
    background-color: #E8EAEB;
    padding-left: 200px;
}

.header-menu__item-li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

.header-menu__items-containers {
    float: left;
    padding-left: 30px;
}

.header-menu__item-text-attrs {
    font-size: 12px;
    font-style: 'ProximaNovaCond Semibold';
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: #6d645e;
}

.header-menu__right-menu-image-link {
    width: 40px;
    margin-left: 10px;
}

.header-menu__left-menu-item-divider {
    font-size: 12px;
    padding: 0 5px;
}

.header-menu__left-menu-items {
    float: left;
    margin-top: 20px;
}

.header-menu__right-menu-item-divider {
    font-size: 12px;
    display: inline-block;
}

.header-menu__right-menu-items {
    padding-top: 5px;
    float: right;
    margin: 3px 10px;
}

.header-menu__search-input {
    height: 30px;
    width: 180px;
    margin: 5px 0 0 5px;
    padding-left: 10px;
    font: italic 14px 'Adelle Italic';
    background-image: url('../img/search-icon.png');
    background-repeat: no-repeat;
    background-position:  right;
    border: none;
    color: #797169;
    vertical-align: middle;
}

.meet-the-flock {
    height: auto;
    width: 100%;
    margin-top: 0, auto;
    padding: 70px 0 0 120px;
    background-color: #E8EAEB;
    display: inline-block;
}


.meet-the-flock-header {
    text-transform: uppercase;
    color: #869177;
    margin: 0;
}


.meet-the-flock__header-container {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    border-bottom: 1px solid #869177;
}

.meet-the-flock__member {
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

.meet-the-flock__member:hover .overlay{
    opacity:0.7;
}

.meet-the-flock__member-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    vertical-align:top;
 }

.meet-the-flock__member:hover:after {
    opacity:1;
}

.meet-the-flock__member-wrapper {
    position:relative;
}

.meet-the-flock__member-wrapper:after {
    content:'\A';
    position:absolute;
    width:100%; 
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    border-radius: 50%;
    background-image: url('../img/search-overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.meet-the-flock__member-wrapper:hover:after {
    opacity:1;
}

.meet-the-flock__member-name {
    margin-bottom: 2px;
    color: #5abc57;
    font-style: bold;
    text-transform: uppercase; 
}

.meet-the-flock__member-name:hover {
    text-decoration: underline;
    color: #5abc57;
}

.meet-the-flock__member-skill {
    margin: 0;
    color: #869177;
    font-family: 'Quattrocento', serif;
}

.meet-the-flock__members {
    width: 90%;
    margin: 30px auto;
    padding: 0 0 0 0;
    list-style-type: none;
    text-align: center;
}

.meet-the-flock__member-url {
    text-decoration: none;
}

.side-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 200px;
    padding-top: 0;
}

.side-menu__item {
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    color: #CED0D2;
    text-decoration: none;
    font-style: 'ProximaNovaCond Semibold';
}

.side-menu__item:hover {
    text-decoration: underline;
}

.side-menu__list-item {
    height: 30px;
    background: url("../img/side-menu-arrow.png") no-repeat 170px / 20%;
    border-bottom: 1px solid #E8EAEB;
    padding-top: 5px;
    color: white;
    list-style: none;
}

.side-menu__logo {
    width: 100%;
    height: 163px;
    display: block;
}

 .side-menu__menu-items {
    background-image: url('../img/side-menu-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 0;
    margin-top: 0;
}

.side-menu__subscribe {
    padding-top: 20px;
}

.side-menu__subscribe-copy {
    float: right;
    width: 120px;
    padding-top: 8px;
    font-size: 12px;
    margin-left: 10px;
    color: #6d645e;
}

.side-menu__subscribe-image {
    height: 70px;
}

.hide-subscribe {
    display: none;
}

.movable-search {
    margin-top: -25px;
    padding-bottom: 10px;
}

.movable-center {
    margin-left: 40px;
}

.side-menu-reset {
    padding: 0;
    margin: 0;
}